<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/luketwyman/Documents/DESIGN/SYNTH/MVI_3862.MOV</key>
	<data>
	Ym9va/QCAAAAAAQQMAAAAKJKWQPcK0RPminS6uLOHsikTBCSwBcHOgAWIfJszlQQ/AEA
	AAUAAAABAQAAVXNlcnMAAAAKAAAAAQEAAGx1a2V0d3ltYW4AAAkAAAABAQAARG9jdW1l
	bnRzAAAABgAAAAEBAABERVNJR04AAAUAAAABAQAAU1lOVEgAAAAMAAAAAQEAAE1WSV8z
	ODYyLk1PVhgAAAABBgAABAAAABQAAAAoAAAAPAAAAEwAAABcAAAACAAAAAQDAAA/kgAA
	AAAAAAgAAAAEAwAAV0oIAAAAAAAIAAAABAMAAGRKCAAAAAAACAAAAAQDAABlQA0AAAAA
	AAgAAAAEAwAARwB4EgAAAAAIAAAABAMAAEXACRUAAAAAGAAAAAEGAACQAAAAoAAAALAA
	AADAAAAA0AAAAOAAAAAIAAAAAAQAAEG7Ld4IAAAAGAAAAAECAAABAAAAAAAAAA8AAAAA
	AAAAAAAAAAAAAAAIAAAABAMAAAQAAAAAAAAABAAAAAMDAAD1AQAADAAAAAEBAABNYWNp
	bnRvc2ggSEQIAAAABAMAAACAllJKAAAACAAAAAAEAABBsZE9GwAAACQAAAABAQAAMUE2
	MjZBRTktQUFDMS0zMUJGLUFFNzUtMDcyRUUzNDQxRTA2GAAAAAECAACBAAAAAQAIAO8X
	AAABAAgAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAAQAAAADAwAAAAgAKMAAAAD+
	////AQAAAAAAAAAPAAAABBAAAHAAAAAAAAAABRAAAPAAAAAAAAAAEBAAACABAAAAAAAA
	QBAAABABAAAAAAAAAiAAANwBAAAAAAAAECAAAFwBAAAAAAAAESAAAJABAAAAAAAAEiAA
	AHABAAAAAAAAEyAAAIABAAAAAAAAICAAALwBAAAAAAAAMCAAAOgBAAAAAAAAAcAAAEAB
	AAAAAAAAEcAAABQAAAAAAAAAEsAAAFABAAAAAAAAENAAAPABAAAAAAAA
	</data>
	<key>/Users/luketwyman/Documents/DESIGN/SYNTH/MVI_3872.MOV</key>
	<data>
	Ym9va/QCAAAAAAQQMAAAADITQJ6BlEyMSDKHj8TGqxrgMtiaMyyARxJJa/aXTlps/AEA
	AAUAAAABAQAAVXNlcnMAAAAKAAAAAQEAAGx1a2V0d3ltYW4AAAkAAAABAQAARG9jdW1l
	bnRzAAAABgAAAAEBAABERVNJR04AAAUAAAABAQAAU1lOVEgAAAAMAAAAAQEAAE1WSV8z
	ODcyLk1PVhgAAAABBgAABAAAABQAAAAoAAAAPAAAAEwAAABcAAAACAAAAAQDAAA/kgAA
	AAAAAAgAAAAEAwAAV0oIAAAAAAAIAAAABAMAAGRKCAAAAAAACAAAAAQDAABlQA0AAAAA
	AAgAAAAEAwAARwB4EgAAAAAIAAAABAMAAMfSDxUAAAAAGAAAAAEGAACQAAAAoAAAALAA
	AADAAAAA0AAAAOAAAAAIAAAAAAQAAEG7NgZwAAAAGAAAAAECAAABAAAAAAAAAA8AAAAA
	AAAAAAAAAAAAAAAIAAAABAMAAAQAAAAAAAAABAAAAAMDAAD1AQAADAAAAAEBAABNYWNp
	bnRvc2ggSEQIAAAABAMAAACAllJKAAAACAAAAAAEAABBsZE9GwAAACQAAAABAQAAMUE2
	MjZBRTktQUFDMS0zMUJGLUFFNzUtMDcyRUUzNDQxRTA2GAAAAAECAACBAAAAAQAIAO8X
	AAABAAgAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAAQAAAADAwAAAAgAKMAAAAD+
	////AQAAAAAAAAAPAAAABBAAAHAAAAAAAAAABRAAAPAAAAAAAAAAEBAAACABAAAAAAAA
	QBAAABABAAAAAAAAAiAAANwBAAAAAAAAECAAAFwBAAAAAAAAESAAAJABAAAAAAAAEiAA
	AHABAAAAAAAAEyAAAIABAAAAAAAAICAAALwBAAAAAAAAMCAAAOgBAAAAAAAAAcAAAEAB
	AAAAAAAAEcAAABQAAAAAAAAAEsAAAFABAAAAAAAAENAAAPABAAAAAAAA
	</data>
	<key>/Users/luketwyman/Documents/DESIGN/SYNTH/ident/0.jpg</key>
	<data>
	Ym9vaxgDAAAAAAQQMAAAALReR6R+hDWfBIsT0Xq9PnKvt8Pcn32TkhcKvddK/y5UIAIA
	AAUAAAABAQAAVXNlcnMAAAAKAAAAAQEAAGx1a2V0d3ltYW4AAAkAAAABAQAARG9jdW1l
	bnRzAAAABgAAAAEBAABERVNJR04AAAUAAAABAQAAU1lOVEgAAAAFAAAAAQEAAGlkZW50
	AAAABQAAAAEBAAAwLmpwZwAAABwAAAABBgAABAAAABQAAAAoAAAAPAAAAEwAAABcAAAA
	bAAAAAgAAAAEAwAAP5IAAAAAAAAIAAAABAMAAFdKCAAAAAAACAAAAAQDAABkSggAAAAA
	AAgAAAAEAwAAZUANAAAAAAAIAAAABAMAAEcAeBIAAAAACAAAAAQDAADAVIMUAAAAAAgA
	AAAEAwAAxVSDFAAAAAAcAAAAAQYAAKAAAACwAAAAwAAAANAAAADgAAAA8AAAAAABAAAI
	AAAAAAQAAEG6jCcxAAAAGAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAA
	BAMAAAUAAAAAAAAABAAAAAMDAAD1AQAADAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMA
	AACAllJKAAAACAAAAAAEAABBsZE9GwAAACQAAAABAQAAMUE2MjZBRTktQUFDMS0zMUJG
	LUFFNzUtMDcyRUUzNDQxRTA2GAAAAAECAACBAAAAAQAIAO8XAAABAAgAAAAAAAAAAAAB
	AAAAAQEAAC8AAAAAAAAAAQUAAAQAAAADAwAAAAgAKMAAAAD+////AQAAAAAAAAAPAAAA
	BBAAAHwAAAAAAAAABRAAABABAAAAAAAAEBAAAEQBAAAAAAAAQBAAADQBAAAAAAAAAiAA
	AAACAAAAAAAAECAAAIABAAAAAAAAESAAALQBAAAAAAAAEiAAAJQBAAAAAAAAEyAAAKQB
	AAAAAAAAICAAAOABAAAAAAAAMCAAAAwCAAAAAAAAAcAAAGQBAAAAAAAAEcAAABQAAAAA
	AAAAEsAAAHQBAAAAAAAAENAAABQCAAAAAAAA
	</data>
	<key>/Users/luketwyman/Documents/DESIGN/SYNTH/ident/1.jpg</key>
	<data>
	Ym9vaxgDAAAAAAQQMAAAAEPLq8hS2iOoY5VVocHWpjWGbhSRs0tEbLEbXZnbR2/+IAIA
	AAUAAAABAQAAVXNlcnMAAAAKAAAAAQEAAGx1a2V0d3ltYW4AAAkAAAABAQAARG9jdW1l
	bnRzAAAABgAAAAEBAABERVNJR04AAAUAAAABAQAAU1lOVEgAAAAFAAAAAQEAAGlkZW50
	AAAABQAAAAEBAAAxLmpwZwAAABwAAAABBgAABAAAABQAAAAoAAAAPAAAAEwAAABcAAAA
	bAAAAAgAAAAEAwAAP5IAAAAAAAAIAAAABAMAAFdKCAAAAAAACAAAAAQDAABkSggAAAAA
	AAgAAAAEAwAAZUANAAAAAAAIAAAABAMAAEcAeBIAAAAACAAAAAQDAADAVIMUAAAAAAgA
	AAAEAwAA0FSDFAAAAAAcAAAAAQYAAKAAAACwAAAAwAAAANAAAADgAAAA8AAAAAABAAAI
	AAAAAAQAAEG6jCc/AAAAGAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAA
	BAMAAAUAAAAAAAAABAAAAAMDAAD1AQAADAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMA
	AACAllJKAAAACAAAAAAEAABBsZE9GwAAACQAAAABAQAAMUE2MjZBRTktQUFDMS0zMUJG
	LUFFNzUtMDcyRUUzNDQxRTA2GAAAAAECAACBAAAAAQAIAO8XAAABAAgAAAAAAAAAAAAB
	AAAAAQEAAC8AAAAAAAAAAQUAAAQAAAADAwAAAAgAKMAAAAD+////AQAAAAAAAAAPAAAA
	BBAAAHwAAAAAAAAABRAAABABAAAAAAAAEBAAAEQBAAAAAAAAQBAAADQBAAAAAAAAAiAA
	AAACAAAAAAAAECAAAIABAAAAAAAAESAAALQBAAAAAAAAEiAAAJQBAAAAAAAAEyAAAKQB
	AAAAAAAAICAAAOABAAAAAAAAMCAAAAwCAAAAAAAAAcAAAGQBAAAAAAAAEcAAABQAAAAA
	AAAAEsAAAHQBAAAAAAAAENAAABQCAAAAAAAA
	</data>
	<key>/Users/luketwyman/Documents/DESIGN/SYNTH/ident/2.jpg</key>
	<data>
	Ym9vaxgDAAAAAAQQMAAAALZi6503JaRnrVxKCFAUIuW/MSjyTIzUqMYWRE5DLZbuIAIA
	AAUAAAABAQAAVXNlcnMAAAAKAAAAAQEAAGx1a2V0d3ltYW4AAAkAAAABAQAARG9jdW1l
	bnRzAAAABgAAAAEBAABERVNJR04AAAUAAAABAQAAU1lOVEgAAAAFAAAAAQEAAGlkZW50
	AAAABQAAAAEBAAAyLmpwZwAAABwAAAABBgAABAAAABQAAAAoAAAAPAAAAEwAAABcAAAA
	bAAAAAgAAAAEAwAAP5IAAAAAAAAIAAAABAMAAFdKCAAAAAAACAAAAAQDAABkSggAAAAA
	AAgAAAAEAwAAZUANAAAAAAAIAAAABAMAAEcAeBIAAAAACAAAAAQDAADAVIMUAAAAAAgA
	AAAEAwAA2lSDFAAAAAAcAAAAAQYAAKAAAACwAAAAwAAAANAAAADgAAAA8AAAAAABAAAI
	AAAAAAQAAEG6jCdLAAAAGAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAA
	BAMAAAUAAAAAAAAABAAAAAMDAAD1AQAADAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMA
	AACAllJKAAAACAAAAAAEAABBsZE9GwAAACQAAAABAQAAMUE2MjZBRTktQUFDMS0zMUJG
	LUFFNzUtMDcyRUUzNDQxRTA2GAAAAAECAACBAAAAAQAIAO8XAAABAAgAAAAAAAAAAAAB
	AAAAAQEAAC8AAAAAAAAAAQUAAAQAAAADAwAAAAgAKMAAAAD+////AQAAAAAAAAAPAAAA
	BBAAAHwAAAAAAAAABRAAABABAAAAAAAAEBAAAEQBAAAAAAAAQBAAADQBAAAAAAAAAiAA
	AAACAAAAAAAAECAAAIABAAAAAAAAESAAALQBAAAAAAAAEiAAAJQBAAAAAAAAEyAAAKQB
	AAAAAAAAICAAAOABAAAAAAAAMCAAAAwCAAAAAAAAAcAAAGQBAAAAAAAAEcAAABQAAAAA
	AAAAEsAAAHQBAAAAAAAAENAAABQCAAAAAAAA
	</data>
	<key>/Users/luketwyman/Documents/DESIGN/SYNTH/ident/3.jpg</key>
	<data>
	Ym9vaxgDAAAAAAQQMAAAAPygaKy842ZokdbFKn7ar7KTvMpeCLE4d63R0UeP8PnCIAIA
	AAUAAAABAQAAVXNlcnMAAAAKAAAAAQEAAGx1a2V0d3ltYW4AAAkAAAABAQAARG9jdW1l
	bnRzAAAABgAAAAEBAABERVNJR04AAAUAAAABAQAAU1lOVEgAAAAFAAAAAQEAAGlkZW50
	AAAABQAAAAEBAAAzLmpwZwAAABwAAAABBgAABAAAABQAAAAoAAAAPAAAAEwAAABcAAAA
	bAAAAAgAAAAEAwAAP5IAAAAAAAAIAAAABAMAAFdKCAAAAAAACAAAAAQDAABkSggAAAAA
	AAgAAAAEAwAAZUANAAAAAAAIAAAABAMAAEcAeBIAAAAACAAAAAQDAADAVIMUAAAAAAgA
	AAAEAwAA6FSDFAAAAAAcAAAAAQYAAKAAAACwAAAAwAAAANAAAADgAAAA8AAAAAABAAAI
	AAAAAAQAAEG6jCdWAAAAGAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAA
	BAMAAAUAAAAAAAAABAAAAAMDAAD1AQAADAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMA
	AACAllJKAAAACAAAAAAEAABBsZE9GwAAACQAAAABAQAAMUE2MjZBRTktQUFDMS0zMUJG
	LUFFNzUtMDcyRUUzNDQxRTA2GAAAAAECAACBAAAAAQAIAO8XAAABAAgAAAAAAAAAAAAB
	AAAAAQEAAC8AAAAAAAAAAQUAAAQAAAADAwAAAAgAKMAAAAD+////AQAAAAAAAAAPAAAA
	BBAAAHwAAAAAAAAABRAAABABAAAAAAAAEBAAAEQBAAAAAAAAQBAAADQBAAAAAAAAAiAA
	AAACAAAAAAAAECAAAIABAAAAAAAAESAAALQBAAAAAAAAEiAAAJQBAAAAAAAAEyAAAKQB
	AAAAAAAAICAAAOABAAAAAAAAMCAAAAwCAAAAAAAAAcAAAGQBAAAAAAAAEcAAABQAAAAA
	AAAAEsAAAHQBAAAAAAAAENAAABQCAAAAAAAA
	</data>
	<key>/Users/luketwyman/Documents/DESIGN/SYNTH/ident/4.jpg</key>
	<data>
	Ym9vaxgDAAAAAAQQMAAAAFaXyvO6MSdvy0lgwuh2v9LRXetEf1/r3xx4N8B89sRWIAIA
	AAUAAAABAQAAVXNlcnMAAAAKAAAAAQEAAGx1a2V0d3ltYW4AAAkAAAABAQAARG9jdW1l
	bnRzAAAABgAAAAEBAABERVNJR04AAAUAAAABAQAAU1lOVEgAAAAFAAAAAQEAAGlkZW50
	AAAABQAAAAEBAAA0LmpwZwAAABwAAAABBgAABAAAABQAAAAoAAAAPAAAAEwAAABcAAAA
	bAAAAAgAAAAEAwAAP5IAAAAAAAAIAAAABAMAAFdKCAAAAAAACAAAAAQDAABkSggAAAAA
	AAgAAAAEAwAAZUANAAAAAAAIAAAABAMAAEcAeBIAAAAACAAAAAQDAADAVIMUAAAAAAgA
	AAAEAwAA9VSDFAAAAAAcAAAAAQYAAKAAAACwAAAAwAAAANAAAADgAAAA8AAAAAABAAAI
	AAAAAAQAAEG6jCdiAAAAGAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAA
	BAMAAAUAAAAAAAAABAAAAAMDAAD1AQAADAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMA
	AACAllJKAAAACAAAAAAEAABBsZE9GwAAACQAAAABAQAAMUE2MjZBRTktQUFDMS0zMUJG
	LUFFNzUtMDcyRUUzNDQxRTA2GAAAAAECAACBAAAAAQAIAO8XAAABAAgAAAAAAAAAAAAB
	AAAAAQEAAC8AAAAAAAAAAQUAAAQAAAADAwAAAAgAKMAAAAD+////AQAAAAAAAAAPAAAA
	BBAAAHwAAAAAAAAABRAAABABAAAAAAAAEBAAAEQBAAAAAAAAQBAAADQBAAAAAAAAAiAA
	AAACAAAAAAAAECAAAIABAAAAAAAAESAAALQBAAAAAAAAEiAAAJQBAAAAAAAAEyAAAKQB
	AAAAAAAAICAAAOABAAAAAAAAMCAAAAwCAAAAAAAAAcAAAGQBAAAAAAAAEcAAABQAAAAA
	AAAAEsAAAHQBAAAAAAAAENAAABQCAAAAAAAA
	</data>
	<key>/Users/luketwyman/Documents/DESIGN/SYNTH/ident/5.jpg</key>
	<data>
	Ym9vaxgDAAAAAAQQMAAAAPDxwhtil8bMHzcVBMEOwKBn7kllPrT2jN9wryvJLE8eIAIA
	AAUAAAABAQAAVXNlcnMAAAAKAAAAAQEAAGx1a2V0d3ltYW4AAAkAAAABAQAARG9jdW1l
	bnRzAAAABgAAAAEBAABERVNJR04AAAUAAAABAQAAU1lOVEgAAAAFAAAAAQEAAGlkZW50
	AAAABQAAAAEBAAA1LmpwZwAAABwAAAABBgAABAAAABQAAAAoAAAAPAAAAEwAAABcAAAA
	bAAAAAgAAAAEAwAAP5IAAAAAAAAIAAAABAMAAFdKCAAAAAAACAAAAAQDAABkSggAAAAA
	AAgAAAAEAwAAZUANAAAAAAAIAAAABAMAAEcAeBIAAAAACAAAAAQDAADAVIMUAAAAAAgA
	AAAEAwAADVWDFAAAAAAcAAAAAQYAAKAAAACwAAAAwAAAANAAAADgAAAA8AAAAAABAAAI
	AAAAAAQAAEG6jCd5AAAAGAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAA
	BAMAAAUAAAAAAAAABAAAAAMDAAD1AQAADAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMA
	AACAllJKAAAACAAAAAAEAABBsZE9GwAAACQAAAABAQAAMUE2MjZBRTktQUFDMS0zMUJG
	LUFFNzUtMDcyRUUzNDQxRTA2GAAAAAECAACBAAAAAQAIAO8XAAABAAgAAAAAAAAAAAAB
	AAAAAQEAAC8AAAAAAAAAAQUAAAQAAAADAwAAAAgAKMAAAAD+////AQAAAAAAAAAPAAAA
	BBAAAHwAAAAAAAAABRAAABABAAAAAAAAEBAAAEQBAAAAAAAAQBAAADQBAAAAAAAAAiAA
	AAACAAAAAAAAECAAAIABAAAAAAAAESAAALQBAAAAAAAAEiAAAJQBAAAAAAAAEyAAAKQB
	AAAAAAAAICAAAOABAAAAAAAAMCAAAAwCAAAAAAAAAcAAAGQBAAAAAAAAEcAAABQAAAAA
	AAAAEsAAAHQBAAAAAAAAENAAABQCAAAAAAAA
	</data>
	<key>/Users/luketwyman/Documents/DESIGN/SYNTH/ident/6.jpg</key>
	<data>
	Ym9vaxgDAAAAAAQQMAAAALiEva1YdUo2IilH7hi4pfUfXVgjTAqkttwGzlOzowaiIAIA
	AAUAAAABAQAAVXNlcnMAAAAKAAAAAQEAAGx1a2V0d3ltYW4AAAkAAAABAQAARG9jdW1l
	bnRzAAAABgAAAAEBAABERVNJR04AAAUAAAABAQAAU1lOVEgAAAAFAAAAAQEAAGlkZW50
	AAAABQAAAAEBAAA2LmpwZwAAABwAAAABBgAABAAAABQAAAAoAAAAPAAAAEwAAABcAAAA
	bAAAAAgAAAAEAwAAP5IAAAAAAAAIAAAABAMAAFdKCAAAAAAACAAAAAQDAABkSggAAAAA
	AAgAAAAEAwAAZUANAAAAAAAIAAAABAMAAEcAeBIAAAAACAAAAAQDAADAVIMUAAAAAAgA
	AAAEAwAALM6DFAAAAAAcAAAAAQYAAKAAAACwAAAAwAAAANAAAADgAAAA8AAAAAABAAAI
	AAAAAAQAAEG6jOj+AAAAGAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAA
	BAMAAAUAAAAAAAAABAAAAAMDAAD1AQAADAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMA
	AACAllJKAAAACAAAAAAEAABBsZE9GwAAACQAAAABAQAAMUE2MjZBRTktQUFDMS0zMUJG
	LUFFNzUtMDcyRUUzNDQxRTA2GAAAAAECAACBAAAAAQAIAO8XAAABAAgAAAAAAAAAAAAB
	AAAAAQEAAC8AAAAAAAAAAQUAAAQAAAADAwAAAAgAKMAAAAD+////AQAAAAAAAAAPAAAA
	BBAAAHwAAAAAAAAABRAAABABAAAAAAAAEBAAAEQBAAAAAAAAQBAAADQBAAAAAAAAAiAA
	AAACAAAAAAAAECAAAIABAAAAAAAAESAAALQBAAAAAAAAEiAAAJQBAAAAAAAAEyAAAKQB
	AAAAAAAAICAAAOABAAAAAAAAMCAAAAwCAAAAAAAAAcAAAGQBAAAAAAAAEcAAABQAAAAA
	AAAAEsAAAHQBAAAAAAAAENAAABQCAAAAAAAA
	</data>
	<key>/Users/luketwyman/Documents/DESIGN/SYNTH/ident/v2/bitcruser.jpg</key>
	<data>
	Ym9va0QDAAAAAAQQMAAAAEWyYJHOYZkI2LYiojRDhGFbNAVgxpvyISfbpidYgsrjTAIA
	AAUAAAABAQAAVXNlcnMAAAAKAAAAAQEAAGx1a2V0d3ltYW4AAAkAAAABAQAARG9jdW1l
	bnRzAAAABgAAAAEBAABERVNJR04AAAUAAAABAQAAU1lOVEgAAAAFAAAAAQEAAGlkZW50
	AAAAAgAAAAEBAAB2MgAADQAAAAEBAABiaXRjcnVzZXIuanBnAAAAIAAAAAEGAAAEAAAA
	FAAAACgAAAA8AAAATAAAAFwAAABsAAAAeAAAAAgAAAAEAwAAP5IAAAAAAAAIAAAABAMA
	AFdKCAAAAAAACAAAAAQDAABkSggAAAAAAAgAAAAEAwAAZUANAAAAAAAIAAAABAMAAEcA
	eBIAAAAACAAAAAQDAADAVIMUAAAAAAgAAAAEAwAAyWVeFgAAAAAIAAAABAMAADBmXhYA
	AAAAIAAAAAEGAAC4AAAAyAAAANgAAADoAAAA+AAAAAgBAAAYAQAAKAEAAAgAAAAABAAA
	QbzU5cgAAAAYAAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAABgAA
	AAAAAAAEAAAAAwMAAPUBAAAMAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAICWUkoA
	AAAIAAAAAAQAAEGxkT0bAAAAJAAAAAEBAAAxQTYyNkFFOS1BQUMxLTMxQkYtQUU3NS0w
	NzJFRTM0NDFFMDYYAAAAAQIAAIEAAAABAAgA7xcAAAEACAAAAAAAAAAAAAEAAAABAQAA
	LwAAAAAAAAABBQAABAAAAAMDAAAACAAowAAAAP7///8BAAAAAAAAAA8AAAAEEAAAkAAA
	AAAAAAAFEAAAOAEAAAAAAAAQEAAAcAEAAAAAAABAEAAAYAEAAAAAAAACIAAALAIAAAAA
	AAAQIAAArAEAAAAAAAARIAAA4AEAAAAAAAASIAAAwAEAAAAAAAATIAAA0AEAAAAAAAAg
	IAAADAIAAAAAAAAwIAAAOAIAAAAAAAABwAAAkAEAAAAAAAARwAAAFAAAAAAAAAASwAAA
	oAEAAAAAAAAQ0AAAQAIAAAAAAAA=
	</data>
	<key>/Users/luketwyman/Documents/DESIGN/SYNTH/ident/v2/convolution.jpg</key>
	<data>
	Ym9va0QDAAAAAAQQMAAAALCe9lottI0xiTuJRkXlhZx/eQT0LP3xEL9RVbwQBlitTAIA
	AAUAAAABAQAAVXNlcnMAAAAKAAAAAQEAAGx1a2V0d3ltYW4AAAkAAAABAQAARG9jdW1l
	bnRzAAAABgAAAAEBAABERVNJR04AAAUAAAABAQAAU1lOVEgAAAAFAAAAAQEAAGlkZW50
	AAAAAgAAAAEBAAB2MgAADwAAAAEBAABjb252b2x1dGlvbi5qcGcAIAAAAAEGAAAEAAAA
	FAAAACgAAAA8AAAATAAAAFwAAABsAAAAeAAAAAgAAAAEAwAAP5IAAAAAAAAIAAAABAMA
	AFdKCAAAAAAACAAAAAQDAABkSggAAAAAAAgAAAAEAwAAZUANAAAAAAAIAAAABAMAAEcA
	eBIAAAAACAAAAAQDAADAVIMUAAAAAAgAAAAEAwAAyWVeFgAAAAAIAAAABAMAAM1lXhYA
	AAAAIAAAAAEGAAC4AAAAyAAAANgAAADoAAAA+AAAAAgBAAAYAQAAKAEAAAgAAAAABAAA
	QbzU5W0AAAAYAAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAABgAA
	AAAAAAAEAAAAAwMAAPUBAAAMAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAICWUkoA
	AAAIAAAAAAQAAEGxkT0bAAAAJAAAAAEBAAAxQTYyNkFFOS1BQUMxLTMxQkYtQUU3NS0w
	NzJFRTM0NDFFMDYYAAAAAQIAAIEAAAABAAgA7xcAAAEACAAAAAAAAAAAAAEAAAABAQAA
	LwAAAAAAAAABBQAABAAAAAMDAAAACAAowAAAAP7///8BAAAAAAAAAA8AAAAEEAAAkAAA
	AAAAAAAFEAAAOAEAAAAAAAAQEAAAcAEAAAAAAABAEAAAYAEAAAAAAAACIAAALAIAAAAA
	AAAQIAAArAEAAAAAAAARIAAA4AEAAAAAAAASIAAAwAEAAAAAAAATIAAA0AEAAAAAAAAg
	IAAADAIAAAAAAAAwIAAAOAIAAAAAAAABwAAAkAEAAAAAAAARwAAAFAAAAAAAAAASwAAA
	oAEAAAAAAAAQ0AAAQAIAAAAAAAA=
	</data>
	<key>/Users/luketwyman/Documents/DESIGN/SYNTH/ident/v2/distortion.jpg</key>
	<data>
	Ym9va0QDAAAAAAQQMAAAAKeQB2C6xkPDRMUFR8w7bEwrLHFHnsp6xRl5r0cnhYRhTAIA
	AAUAAAABAQAAVXNlcnMAAAAKAAAAAQEAAGx1a2V0d3ltYW4AAAkAAAABAQAARG9jdW1l
	bnRzAAAABgAAAAEBAABERVNJR04AAAUAAAABAQAAU1lOVEgAAAAFAAAAAQEAAGlkZW50
	AAAAAgAAAAEBAAB2MgAADgAAAAEBAABkaXN0b3J0aW9uLmpwZwAAIAAAAAEGAAAEAAAA
	FAAAACgAAAA8AAAATAAAAFwAAABsAAAAeAAAAAgAAAAEAwAAP5IAAAAAAAAIAAAABAMA
	AFdKCAAAAAAACAAAAAQDAABkSggAAAAAAAgAAAAEAwAAZUANAAAAAAAIAAAABAMAAEcA
	eBIAAAAACAAAAAQDAADAVIMUAAAAAAgAAAAEAwAAyWVeFgAAAAAIAAAABAMAAP1lXhYA
	AAAAIAAAAAEGAAC4AAAAyAAAANgAAADoAAAA+AAAAAgBAAAYAQAAKAEAAAgAAAAABAAA
	QbzU5Z8AAAAYAAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAABgAA
	AAAAAAAEAAAAAwMAAPUBAAAMAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAICWUkoA
	AAAIAAAAAAQAAEGxkT0bAAAAJAAAAAEBAAAxQTYyNkFFOS1BQUMxLTMxQkYtQUU3NS0w
	NzJFRTM0NDFFMDYYAAAAAQIAAIEAAAABAAgA7xcAAAEACAAAAAAAAAAAAAEAAAABAQAA
	LwAAAAAAAAABBQAABAAAAAMDAAAACAAowAAAAP7///8BAAAAAAAAAA8AAAAEEAAAkAAA
	AAAAAAAFEAAAOAEAAAAAAAAQEAAAcAEAAAAAAABAEAAAYAEAAAAAAAACIAAALAIAAAAA
	AAAQIAAArAEAAAAAAAARIAAA4AEAAAAAAAASIAAAwAEAAAAAAAATIAAA0AEAAAAAAAAg
	IAAADAIAAAAAAAAwIAAAOAIAAAAAAAABwAAAkAEAAAAAAAARwAAAFAAAAAAAAAASwAAA
	oAEAAAAAAAAQ0AAAQAIAAAAAAAA=
	</data>
	<key>/Users/luketwyman/Documents/DESIGN/SYNTH/ident/v2/envelope.jpg</key>
	<data>
	Ym9va0ADAAAAAAQQMAAAAL03u602uCmNPMXkKfA1igvHs0JG/h7uleZ0bVk+ut5tSAIA
	AAUAAAABAQAAVXNlcnMAAAAKAAAAAQEAAGx1a2V0d3ltYW4AAAkAAAABAQAARG9jdW1l
	bnRzAAAABgAAAAEBAABERVNJR04AAAUAAAABAQAAU1lOVEgAAAAFAAAAAQEAAGlkZW50
	AAAAAgAAAAEBAAB2MgAADAAAAAEBAABlbnZlbG9wZS5qcGcgAAAAAQYAAAQAAAAUAAAA
	KAAAADwAAABMAAAAXAAAAGwAAAB4AAAACAAAAAQDAAA/kgAAAAAAAAgAAAAEAwAAV0oI
	AAAAAAAIAAAABAMAAGRKCAAAAAAACAAAAAQDAABlQA0AAAAAAAgAAAAEAwAARwB4EgAA
	AAAIAAAABAMAAMBUgxQAAAAACAAAAAQDAADJZV4WAAAAAAgAAAAEAwAA8WVeFgAAAAAg
	AAAAAQYAALQAAADEAAAA1AAAAOQAAAD0AAAABAEAABQBAAAkAQAACAAAAAAEAABBvNTl
	kwAAABgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAGAAAAAAAA
	AAQAAAADAwAA9QEAAAwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAgJZSSgAAAAgA
	AAAABAAAQbGRPRsAAAAkAAAAAQEAADFBNjI2QUU5LUFBQzEtMzFCRi1BRTc1LTA3MkVF
	MzQ0MUUwNhgAAAABAgAAgQAAAAEACADvFwAAAQAIAAAAAAAAAAAAAQAAAAEBAAAvAAAA
	AAAAAAEFAAAEAAAAAwMAAAAIACjAAAAA/v///wEAAAAAAAAADwAAAAQQAACMAAAAAAAA
	AAUQAAA0AQAAAAAAABAQAABsAQAAAAAAAEAQAABcAQAAAAAAAAIgAAAoAgAAAAAAABAg
	AACoAQAAAAAAABEgAADcAQAAAAAAABIgAAC8AQAAAAAAABMgAADMAQAAAAAAACAgAAAI
	AgAAAAAAADAgAAA0AgAAAAAAAAHAAACMAQAAAAAAABHAAAAUAAAAAAAAABLAAACcAQAA
	AAAAABDQAAA8AgAAAAAAAA==
	</data>
	<key>/Users/luketwyman/Documents/DESIGN/SYNTH/ident/v2/noise.jpg</key>
	<data>
	Ym9va0ADAAAAAAQQMAAAABLaZesmQV3vptEExV3y/zFbZdugeUjjC7z0h3LdkhnzSAIA
	AAUAAAABAQAAVXNlcnMAAAAKAAAAAQEAAGx1a2V0d3ltYW4AAAkAAAABAQAARG9jdW1l
	bnRzAAAABgAAAAEBAABERVNJR04AAAUAAAABAQAAU1lOVEgAAAAFAAAAAQEAAGlkZW50
	AAAAAgAAAAEBAAB2MgAACQAAAAEBAABub2lzZS5qcGcAAAAgAAAAAQYAAAQAAAAUAAAA
	KAAAADwAAABMAAAAXAAAAGwAAAB4AAAACAAAAAQDAAA/kgAAAAAAAAgAAAAEAwAAV0oI
	AAAAAAAIAAAABAMAAGRKCAAAAAAACAAAAAQDAABlQA0AAAAAAAgAAAAEAwAARwB4EgAA
	AAAIAAAABAMAAMBUgxQAAAAACAAAAAQDAADJZV4WAAAAAAgAAAAEAwAA42VeFgAAAAAg
	AAAAAQYAALQAAADEAAAA1AAAAOQAAAD0AAAABAEAABQBAAAkAQAACAAAAAAEAABBvNTl
	hgAAABgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAGAAAAAAAA
	AAQAAAADAwAA9QEAAAwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAgJZSSgAAAAgA
	AAAABAAAQbGRPRsAAAAkAAAAAQEAADFBNjI2QUU5LUFBQzEtMzFCRi1BRTc1LTA3MkVF
	MzQ0MUUwNhgAAAABAgAAgQAAAAEACADvFwAAAQAIAAAAAAAAAAAAAQAAAAEBAAAvAAAA
	AAAAAAEFAAAEAAAAAwMAAAAIACjAAAAA/v///wEAAAAAAAAADwAAAAQQAACMAAAAAAAA
	AAUQAAA0AQAAAAAAABAQAABsAQAAAAAAAEAQAABcAQAAAAAAAAIgAAAoAgAAAAAAABAg
	AACoAQAAAAAAABEgAADcAQAAAAAAABIgAAC8AQAAAAAAABMgAADMAQAAAAAAACAgAAAI
	AgAAAAAAADAgAAA0AgAAAAAAAAHAAACMAQAAAAAAABHAAAAUAAAAAAAAABLAAACcAQAA
	AAAAABDQAAA8AgAAAAAAAA==
	</data>
	<key>/Users/luketwyman/Documents/DESIGN/SYNTH/ident/v2/pitch.jpg</key>
	<data>
	Ym9va0ADAAAAAAQQMAAAAKRVk80Tf3gsowKWw0JHUjHmZGcnCfTlgR67BNHLIbpcSAIA
	AAUAAAABAQAAVXNlcnMAAAAKAAAAAQEAAGx1a2V0d3ltYW4AAAkAAAABAQAARG9jdW1l
	bnRzAAAABgAAAAEBAABERVNJR04AAAUAAAABAQAAU1lOVEgAAAAFAAAAAQEAAGlkZW50
	AAAAAgAAAAEBAAB2MgAACQAAAAEBAABwaXRjaC5qcGcAAAAgAAAAAQYAAAQAAAAUAAAA
	KAAAADwAAABMAAAAXAAAAGwAAAB4AAAACAAAAAQDAAA/kgAAAAAAAAgAAAAEAwAAV0oI
	AAAAAAAIAAAABAMAAGRKCAAAAAAACAAAAAQDAABlQA0AAAAAAAgAAAAEAwAARwB4EgAA
	AAAIAAAABAMAAMBUgxQAAAAACAAAAAQDAADJZV4WAAAAAAgAAAAEAwAA1mVeFgAAAAAg
	AAAAAQYAALQAAADEAAAA1AAAAOQAAAD0AAAABAEAABQBAAAkAQAACAAAAAAEAABBvNTl
	ewAAABgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAGAAAAAAAA
	AAQAAAADAwAA9QEAAAwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAgJZSSgAAAAgA
	AAAABAAAQbGRPRsAAAAkAAAAAQEAADFBNjI2QUU5LUFBQzEtMzFCRi1BRTc1LTA3MkVF
	MzQ0MUUwNhgAAAABAgAAgQAAAAEACADvFwAAAQAIAAAAAAAAAAAAAQAAAAEBAAAvAAAA
	AAAAAAEFAAAEAAAAAwMAAAAIACjAAAAA/v///wEAAAAAAAAADwAAAAQQAACMAAAAAAAA
	AAUQAAA0AQAAAAAAABAQAABsAQAAAAAAAEAQAABcAQAAAAAAAAIgAAAoAgAAAAAAABAg
	AACoAQAAAAAAABEgAADcAQAAAAAAABIgAAC8AQAAAAAAABMgAADMAQAAAAAAACAgAAAI
	AgAAAAAAADAgAAA0AgAAAAAAAAHAAACMAQAAAAAAABHAAAAUAAAAAAAAABLAAACcAQAA
	AAAAABDQAAA8AgAAAAAAAA==
	</data>
	<key>/Users/luketwyman/Documents/DESIGN/SYNTH/ident/v2/tt1.jpg</key>
	<data>
	Ym9vazwDAAAAAAQQMAAAANm1yztzw6//JkHP1melX9GAfndoUnjuF2JG2ro2jOnWRAIA
	AAUAAAABAQAAVXNlcnMAAAAKAAAAAQEAAGx1a2V0d3ltYW4AAAkAAAABAQAARG9jdW1l
	bnRzAAAABgAAAAEBAABERVNJR04AAAUAAAABAQAAU1lOVEgAAAAFAAAAAQEAAGlkZW50
	AAAAAgAAAAEBAAB2MgAABwAAAAEBAAB0dDEuanBnACAAAAABBgAABAAAABQAAAAoAAAA
	PAAAAEwAAABcAAAAbAAAAHgAAAAIAAAABAMAAD+SAAAAAAAACAAAAAQDAABXSggAAAAA
	AAgAAAAEAwAAZEoIAAAAAAAIAAAABAMAAGVADQAAAAAACAAAAAQDAABHAHgSAAAAAAgA
	AAAEAwAAwFSDFAAAAAAIAAAABAMAAMllXhYAAAAACAAAAAQDAABCZl4WAAAAACAAAAAB
	BgAAsAAAAMAAAADQAAAA4AAAAPAAAAAAAQAAEAEAACABAAAIAAAAAAQAAEG81OXiAAAA
	GAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAYAAAAAAAAABAAA
	AAMDAAD1AQAADAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACAllJKAAAACAAAAAAE
	AABBsZE9GwAAACQAAAABAQAAMUE2MjZBRTktQUFDMS0zMUJGLUFFNzUtMDcyRUUzNDQx
	RTA2GAAAAAECAACBAAAAAQAIAO8XAAABAAgAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAA
	AQUAAAQAAAADAwAAAAgAKMAAAAD+////AQAAAAAAAAAPAAAABBAAAIgAAAAAAAAABRAA
	ADABAAAAAAAAEBAAAGgBAAAAAAAAQBAAAFgBAAAAAAAAAiAAACQCAAAAAAAAECAAAKQB
	AAAAAAAAESAAANgBAAAAAAAAEiAAALgBAAAAAAAAEyAAAMgBAAAAAAAAICAAAAQCAAAA
	AAAAMCAAADACAAAAAAAAAcAAAIgBAAAAAAAAEcAAABQAAAAAAAAAEsAAAJgBAAAAAAAA
	ENAAADgCAAAAAAAA
	</data>
	<key>/Users/luketwyman/Documents/DESIGN/SYNTH/ident/v2/void.jpg</key>
	<data>
	Ym9vazwDAAAAAAQQMAAAAOSjyN0prZoijtPxXs3S/k9BNzGnrPs1U4MTIWqYQ5TjRAIA
	AAUAAAABAQAAVXNlcnMAAAAKAAAAAQEAAGx1a2V0d3ltYW4AAAkAAAABAQAARG9jdW1l
	bnRzAAAABgAAAAEBAABERVNJR04AAAUAAAABAQAAU1lOVEgAAAAFAAAAAQEAAGlkZW50
	AAAAAgAAAAEBAAB2MgAACAAAAAEBAAB2b2lkLmpwZyAAAAABBgAABAAAABQAAAAoAAAA
	PAAAAEwAAABcAAAAbAAAAHgAAAAIAAAABAMAAD+SAAAAAAAACAAAAAQDAABXSggAAAAA
	AAgAAAAEAwAAZEoIAAAAAAAIAAAABAMAAGVADQAAAAAACAAAAAQDAABHAHgSAAAAAAgA
	AAAEAwAAwFSDFAAAAAAIAAAABAMAAMllXhYAAAAACAAAAAQDAAAXZl4WAAAAACAAAAAB
	BgAAsAAAAMAAAADQAAAA4AAAAPAAAAAAAQAAEAEAACABAAAIAAAAAAQAAEG81OW3AAAA
	GAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAYAAAAAAAAABAAA
	AAMDAAD1AQAADAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACAllJKAAAACAAAAAAE
	AABBsZE9GwAAACQAAAABAQAAMUE2MjZBRTktQUFDMS0zMUJGLUFFNzUtMDcyRUUzNDQx
	RTA2GAAAAAECAACBAAAAAQAIAO8XAAABAAgAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAA
	AQUAAAQAAAADAwAAAAgAKMAAAAD+////AQAAAAAAAAAPAAAABBAAAIgAAAAAAAAABRAA
	ADABAAAAAAAAEBAAAGgBAAAAAAAAQBAAAFgBAAAAAAAAAiAAACQCAAAAAAAAECAAAKQB
	AAAAAAAAESAAANgBAAAAAAAAEiAAALgBAAAAAAAAEyAAAMgBAAAAAAAAICAAAAQCAAAA
	AAAAMCAAADACAAAAAAAAAcAAAIgBAAAAAAAAEcAAABQAAAAAAAAAEsAAAJgBAAAAAAAA
	ENAAADgCAAAAAAAA
	</data>
	<key>/Users/luketwyman/Documents/DESIGN/SYNTH/ident/v2/wavegen.jpg</key>
	<data>
	Ym9va0ADAAAAAAQQMAAAAKKEiyyv4KfPIzU3xMCTki5Aw7/U0NA0URXC8vuEvbqNSAIA
	AAUAAAABAQAAVXNlcnMAAAAKAAAAAQEAAGx1a2V0d3ltYW4AAAkAAAABAQAARG9jdW1l
	bnRzAAAABgAAAAEBAABERVNJR04AAAUAAAABAQAAU1lOVEgAAAAFAAAAAQEAAGlkZW50
	AAAAAgAAAAEBAAB2MgAACwAAAAEBAAB3YXZlZ2VuLmpwZwAgAAAAAQYAAAQAAAAUAAAA
	KAAAADwAAABMAAAAXAAAAGwAAAB4AAAACAAAAAQDAAA/kgAAAAAAAAgAAAAEAwAAV0oI
	AAAAAAAIAAAABAMAAGRKCAAAAAAACAAAAAQDAABlQA0AAAAAAAgAAAAEAwAARwB4EgAA
	AAAIAAAABAMAAMBUgxQAAAAACAAAAAQDAADJZV4WAAAAAAgAAAAEAwAACmZeFgAAAAAg
	AAAAAQYAALQAAADEAAAA1AAAAOQAAAD0AAAABAEAABQBAAAkAQAACAAAAAAEAABBvNTl
	rQAAABgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAGAAAAAAAA
	AAQAAAADAwAA9QEAAAwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAgJZSSgAAAAgA
	AAAABAAAQbGRPRsAAAAkAAAAAQEAADFBNjI2QUU5LUFBQzEtMzFCRi1BRTc1LTA3MkVF
	MzQ0MUUwNhgAAAABAgAAgQAAAAEACADvFwAAAQAIAAAAAAAAAAAAAQAAAAEBAAAvAAAA
	AAAAAAEFAAAEAAAAAwMAAAAIACjAAAAA/v///wEAAAAAAAAADwAAAAQQAACMAAAAAAAA
	AAUQAAA0AQAAAAAAABAQAABsAQAAAAAAAEAQAABcAQAAAAAAAAIgAAAoAgAAAAAAABAg
	AACoAQAAAAAAABEgAADcAQAAAAAAABIgAAC8AQAAAAAAABMgAADMAQAAAAAAACAgAAAI
	AgAAAAAAADAgAAA0AgAAAAAAAAHAAACMAQAAAAAAABHAAAAUAAAAAAAAABLAAACcAQAA
	AAAAABDQAAA8AgAAAAAAAA==
	</data>
	<key>/Users/luketwyman/Movies/Camtasia 2/Temporary Recordings/Rec 02-12-15 2.trec</key>
	<data>
	Ym9vawgDAAAAAAQQMAAAAO8T70sMCQtUfvh+XeqmkxLsL9NVHH1bot62eRQ4y97gEAIA
	AAUAAAABAQAAVXNlcnMAAAAKAAAAAQEAAGx1a2V0d3ltYW4AAAYAAAABAQAATW92aWVz
	AAAKAAAAAQEAAENhbXRhc2lhIDIAABQAAAABAQAAVGVtcG9yYXJ5IFJlY29yZGluZ3MT
	AAAAAQEAAFJlYyAwMi0xMi0xNSAyLnRyZWMAGAAAAAEGAAAEAAAAFAAAACgAAAA4AAAA
	TAAAAGgAAAAIAAAABAMAAD+SAAAAAAAACAAAAAQDAABXSggAAAAAAAgAAAAEAwAAkEoI
	AAAAAAAIAAAABAMAABvUghQAAAAACAAAAAQDAAAc1IIUAAAAAAgAAAAEAwAAp62DFAAA
	AAAYAAAAAQYAAKQAAAC0AAAAxAAAANQAAADkAAAA9AAAAAgAAAAABAAAQbqMxZMAAAAY
	AAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAABAAAAAAAAAAEAAAA
	AwMAAPUBAAAMAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAICWUkoAAAAIAAAAAAQA
	AEGxkT0bAAAAJAAAAAEBAAAxQTYyNkFFOS1BQUMxLTMxQkYtQUU3NS0wNzJFRTM0NDFF
	MDYYAAAAAQIAAIEAAAABAAgA7xcAAAEACAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAAB
	BQAABAAAAAMDAAAACAAowAAAAP7///8BAAAAAAAAAA8AAAAEEAAAhAAAAAAAAAAFEAAA
	BAEAAAAAAAAQEAAANAEAAAAAAABAEAAAJAEAAAAAAAACIAAA8AEAAAAAAAAQIAAAcAEA
	AAAAAAARIAAApAEAAAAAAAASIAAAhAEAAAAAAAATIAAAlAEAAAAAAAAgIAAA0AEAAAAA
	AAAwIAAA/AEAAAAAAAABwAAAVAEAAAAAAAARwAAAFAAAAAAAAAASwAAAZAEAAAAAAAAQ
	0AAABAIAAAAAAAA=
	</data>
	<key>/Volumes/NO NAME/DCIM/100CANON/MVI_3931.MOV</key>
	<data>
	Ym9vaywDAAAAAAQQMAAAACBrPOHWGBAxzF/T7nlhIYeXmPigiyHmkkWQorX1XdO7ZAIA
	AAcAAAABAQAAVm9sdW1lcwAHAAAAAQEAAE5PIE5BTUUABAAAAAEBAABEQ0lNCAAAAAEB
	AAAxMDBDQU5PTgwAAAABAQAATVZJXzM5MzEuTU9WFAAAAAEGAAAEAAAAFAAAACQAAAAw
	AAAAQAAAAAgAAAAEAwAAq2YAAAAAAAAAAAAAAQoAABQAAAABBgAAcAAAAIAAAACAAAAA
	gAAAAIAAAAAIAAAAAAQAAEG7uBweAAAAGAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAA
	AAAAAAAIAAAABAMAAAAAADoHAAAACAAAAAAEAADBw8CYSAAAABgAAAABAgAAYQEAAAAA
	AADvFwAAAQAIAAAAAAAAAAAAEAAAAAEBAAAvVm9sdW1lcy9OTyBOQU1FDAAAAAEBAABN
	YWNpbnRvc2ggSEQIAAAABAMAAACAllJKAAAACAAAAAAEAABBsZE9GwAAACQAAAABAQAA
	MUE2MjZBRTktQUFDMS0zMUJGLUFFNzUtMDcyRUUzNDQxRTA2GAAAAAECAACBAAAAAQAI
	AO8XAAABAAgAAAAAAAAAAAABAAAAAQEAAC8AAABUAAAA/v///wDwAAAAAAAABgAAAAIg
	AACsAQAAAAAAABAgAAAsAQAAAAAAABEgAABgAQAAAAAAABIgAABAAQAAAAAAABMgAABQ
	AQAAAAAAACAgAACMAQAAAAAAAAQAAAADAwAAAPAAAAQAAAADAwAAAAAAAAQAAAADAwAA
	AQAAABgAAAABBgAAFAIAACACAAAsAgAAIAIAACACAAAgAgAABAAAAAMDAAAACAAokAAA
	AP7///8BAAAAuAEAAAsAAAAEEAAAVAAAAAAAAAAFEAAAiAAAAAAAAAAQEAAAtAAAAAAA
	AABAEAAApAAAAAAAAAAAIAAAOAIAAAAAAAACIAAAFAEAAAAAAAAQIAAAFAAAAAAAAAAS
	IAAA1AAAAAAAAAATIAAA5AAAAAAAAAAgIAAA9AAAAAAAAAAQ0AAAWAIAAAAAAAA=
	</data>
</dict>
</plist>
